@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
  --primary: #e0e5ec;
  --secondary: #5c3d94;
  --form-shadow: -10px -10px 25px 0 rgba(255, 255, 255, 0.6),
    10px 10px 25px 0 rgba(0, 0, 0, 0.1);
  --input-shadow: inset -4px -4px 15px 0 rgba(255, 255, 255, 0.6),
    inset 4px 4px 15px 0 rgba(0, 0, 0, 0.1);
  --focus-shadow: -8px -8px 20px 0 rgba(255, 255, 255, 0.7),
    8px 8px 20px 0 rgba(0, 0, 0, 0.2);
  --btn-shadow: -6px -6px 25px 0 rgba(255, 255, 255, 0.7),
    6px 6px 25px 0 rgba(0, 0, 0, 0.2);
  --a-color: rgba(0,0,0,0.5);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Slab";
    background-color: var(--primary);
    color: #5c3d94;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* ------------------------ Main container ------------------------------- */

.container {
  width: 80%;
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
}
              /*------------- Info section --------------- */
.div1 { 
  grid-area: 1 / 1 / 2 / 2; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div1 img {
  height: 200px; 
  width: 200px; 
  margin:0;
}

.div1 h1 {
  font-family: "Parisienne";
  letter-spacing: 2px;
  color: #5c3d94;
  margin: 20px;
}

.div1 p {
  margin: 2px;
}

.div1 a {
  transition: 0.4s;
}

.div1 p a:hover {
  text-decoration: none;
  color: #000000;
}
                    /* ---------------- Main form -------------- */ 
.form {
    grid-area: 1 / 2 / 2 / 3;
    height: 100%;
    width: 100%;
    background: #e0e5ec;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    box-shadow: -10px -10px 20px 0 rgba(255, 255, 255, 0.5),
    10px 10px 25px 0 rgba(0, 0, 0, 0.1);
}

.form input {
    margin: 10px 10px;
}

.input {
    padding: 13px 15px;
    border: none;
    outline: none;
    background: #e0e5ec;
    border-radius: 5px;
    width: 70%;
    color: #5c3d94;
    font-family: "Roboto Slab";
    letter-spacing: 2px;
    box-shadow: inset -6px -6px 25px 0 rgba(255, 255, 255, 0.6),
    inset 6px 6px 25px 0 rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.input::placeholder {
    color: #705d92;
    font-weight: bold;
}

.input:hover {
    box-shadow: -6px -6px 25px 0 rgba(255, 255, 255, 0.7),
    6px 6px 25px 0 rgba(0, 0, 0, 0.2);
}

.input:focus {
    box-shadow: -6px -6px 25px 0 rgba(255, 255, 255, 0.7),
    6px 6px 25px 0 rgba(0, 0, 0, 0.2);
}

.btn {
    border: none;
    padding: 15px;
    min-width: 150px;
    border-radius: 15px;
    background-color: #5c3d94;
    font-weight: bold;
    font-size: 20px;
    color: #e0e5ec;
    box-shadow: -6px -6px 25px 0 rgba(255, 255, 255, 0.6),
      6px 6px 10px 0 rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}

.btn:hover {
    min-width: 180px;
    cursor: pointer;
}

.alert {
  position: absolute;
  top: 10;
  padding: 5px;
  border: 1px solid #000;
}

/* ---------------------- Media query ----------------- */

@media only screen and (max-width: 768px) 
{
  body {
    font-size:1.3rem;
  }

  .container {
    width: 90%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }  

  .div1 {
    margin-bottom: 20px;
  }

  .div1 img {
    width: 250px;
    height: 250px;
  }

  .form {
    margin-bottom: 20px;
  }

  .input {
    font-size: 0.7rem;
  }

  .btn {
    width: 200px;
    font-size: 1rem;
  }
}

.home {
  position: absolute;
  top: 3%;
  right: 3%;
  height: 50px;
	width: 50px;
  display: flex;
	align-items: center;
	justify-content: center;
  text-align: center;
	font-size: 20px;
  box-shadow:2px 2px 15px rgba(180, 180, 180, 0.5);
	border-radius: 50%;
}