@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
  --primary: #e0e5ec;
  --secondary: #5c3d94;
  --form-shadow: -10px -10px 25px 0 rgba(255, 255, 255, 0.6),
    10px 10px 25px 0 rgba(0, 0, 0, 0.1);
  --input-shadow: inset -4px -4px 15px 0 rgba(255, 255, 255, 0.6),
    inset 4px 4px 15px 0 rgba(0, 0, 0, 0.1);
  --focus-shadow: -8px -8px 20px 0 rgba(255, 255, 255, 0.7),
    8px 8px 20px 0 rgba(0, 0, 0, 0.2);
  --btn-shadow: -6px -6px 25px 0 rgba(255, 255, 255, 0.7),
    6px 6px 25px 0 rgba(0, 0, 0, 0.2);
  --a-color: rgba(0,0,0,0.5);
}

[data-theme="dark"] {
  --primary: #333;
  --secondary: #e0e5ec;
  --form-shadow: 30px 30px 77px #222222,
    -30px -30px 77px #444444;
  --input-shadow: inset 4px 4px 15px #222222,
    inset -4px -4px 15px #444444;
  --focus-shadow: 8px 8px 20px #222222,
  -8px -8px 20px #444444;
  --btn-shadow: 30px 30px 77px #222222,
  -30px -30px 77px #444444;
  --a-color : #fff;
} 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: var(--primary);
    font-family: 'Roboto Slab', 'Courier New', Courier, monospace;
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 0.3fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 0.3fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . ."
      ". stats stats stats stats ."
      ". tasks tasks costs costs ."
      ". tasks tasks costs costs ."
      ". tasks tasks costs costs ."
      ". . . . . .";
}

.costs { grid-area: costs;background-color: bisque; }

.stats { grid-area: stats; background-color: bisque;}

/* ------------------------------------------ Tasks ----------------------------- */

.tasks {
    grid-area: tasks;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: top;
    text-align: center;
}

.tasks h1 {
    margin: 15px auto 0 auto;
    font-size: 20px;
}

.tasks form {
    width: 90%;
    margin: 10px auto 0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#newtask {
  width: 80%;
  height: 30px;
  margin: 0 auto 10px auto;
}

#submit {
  width: 15%;
  height: 25px;
  background-color: #444444;
  color:rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

.tasks li {
  list-style-type: none;
  text-align: center;
  width: 90%;
  background:rgba(0, 0, 0, 0.1)
}